h1
{
    color: black;
}

h2
{
    color: red;
}

img
{
    width: 400px;
}

.image
{
    height: 400px;
}

div
{
    background-color: rgb(215, 215, 215);
    padding: 10px;
}

h3
{
    color: black;
}





